body{
font-family:Arial;
background:#111;
color:white;
text-align:center;
}

form{
background:#222;
padding:20px;
width:300px;
margin:auto;
border-radius:10px;
}

input,select{
width:100%;
padding:8px;
margin-top:10px;
}

button{
margin-top:15px;
padding:10px;
background:#e63946;
border:none;
color:white;
cursor:pointer;
}
